.main_div{
	background-image: url('../images/register_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	padding:4%;
}
.register_div{
	max-width:500px;
	background-color:white;
	border-radius:5px;
	box-shadow:#9387e6 0 0 200px 15px, teal 0px 20px 30px 3px
}

.regi_field{
	padding-left: 10%;
    padding-right: 10%;
}